* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #f0efef;
}
.wrapper {
  max-width: 1024px;
  margin: 0px auto;
  border: 1px solid #f3735f;
}

section {
  padding: 60px 30px;
  border-radius: 15px;
  background-color: white;
}
header {
  background-color: white;
  border-bottom: 1px solid #f3735f;
  padding: 20px;
}
header img {
  width: 200px;
}
p {
  line-height: 22px;
  margin-bottom: 20px;
}
h1 {
  font-size: 50px;
  font-weight: bold;
  color: #393c6c;
  text-align: center;
}
h2 {
  font-size: 30px;
  font-weight: 700;
  color: #f3735f;
  margin-top: 70px;
  margin-bottom: 20px;
}
h3 {
  font-size: 18px;
  font-weight: 700;
  color: #393c6c;
  line-height: 22px;
}
section.wrapper {
  margin-top: 30px;
}
.regime-alimentaire {
  margin-top: 20px;
  text-align: center;
  strong {
    font-weight: 700;
    color: #424242;
  }
  font-size: 14px;
}
.time-total {
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  background-color: #8a98b1;
  border-radius: 10px;
  margin: 20px auto;
  width: 400px;
  padding: 15px;
  font-size: px;
}
.imgs-crepes {
  display: flex;
  justify-content: space-evenly;
}
.imgs-crepes img {
  width: 300px;
  height: 250px;
  object-fit: cover;
  border-radius: 5%;
}
.ingts-list {
  list-style: disc;
  margin-bottom: 10px;
  font-size: 18px;
}
.ingts-list li {
  margin-bottom: 10px;
  font-size: 16px;
}

footer {
  text-align: center;
  font-size: 12px;
  color: grey;
  padding: 20px;
}
